

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

.active {
    @apply bg-gray-500 text-white border-b-4
}
.active:hover{
    @apply bg-gray-600 text-white !important
}
body{
    @apply bg-gray-50
}
.statusbar{
    @apply bg-gray-100 min-h-12 w-full  items-center justify-between text-gray-900 px-6 font-extrabold hidden sticky top-0
    
}
.notch{
    @apply bg-black w-6 h-6  rounded-full block m-auto  duration-300 flex items-center justify-center
}
.notch:hover  {
    @apply w-2/3 h-10
}
.notch:hover span{
    @apply text-white
}
#root{
    @apply h-screen md:h-[720px]   
}
 
.activeTab{
    @apply text-black
}

.messageInputShadow{
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
}


@keyframes slideIn {
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatex(0%);
    }
}

.slideIn{
    animation: slide 1s linear;
    animation-fill-mode: forwards;
}